# ESPHome configuration for monitoring a boat's battery and environmental conditions
esphome:  
  name: "marine-monitor"  
  friendly_name: battery-esp32
  # Minimum required ESPHome version for compatibility
  min_version: 2024.11.0
  name_add_mac_suffix: false


# ESP32 hardware configuration
esp32:  
  board: esp32dev  
  framework:
    type: esp-idf

# Enables logging for debugging and monitoring
logger:  
  level: DEBUG

# Enables Home Assistant API for integration
api:


# Configures Over-The-Air (OTA) updates
ota:
  - platform: esphome    

# Defines a restart switch for the device
switch:
  - platform: restart    
    name: "Thrillfishing Restart"    
    id: restart_thrillfishing

# Bilge Sensor Alarm Float switch on GPIO14
binary_sensor:
  - platform: gpio
    id: bilge_high
    name: "Bilge High Water"    
    pin:
      number: GPIO14
      inverted: true
      mode:
        input: true
        pullup: true
    device_class: moisture    
    filters:
      - delayed_on: 3s           # avoid slosh false positives
      - delayed_off: 5s    
    on_press:
      - logger.log: "BILGE HIGH WATER!"
      - http_request.post:          
          url: https://hooks.nabu.casa/INSERT YOUR WEBHOOK
          #headers:
          request_headers:
            Content-Type: application/json      
          json:
            bilgealarm: "ON"
            token: !lambda 'return id(token);'      
    on_release:
      - logger.log: "Bilge level back to normal"
      - http_request.post:          
          url: https://hooks.nabu.casa/INSERT YOUR WEBHOOK
          #headers:
          request_headers:
            Content-Type: application/json          
          json:            
            bilgealarm: "OFF"
            token: !lambda 'return id(token);'
            
# Global variable to track WiFi connection failures
globals:
  - id: wifi_failures
    type: int
    # Does not restore value on reboot
    restore_value: no    
    initial_value: '0'
  - id: token
    # Webhook security token
    type: std::string
    initial_value: '"INSERT YOUR SECURITY TOKEN _ MAKE IT UP"' 

# WiFi configuration with multiple network options
wifi:
  networks:      
    - ssid: wifissid
      password: !secret wifi_password    
      priority: 5  
  # Actions to perform on WiFi disconnection
  on_disconnect:
    then:
      - lambda: |-
          id(wifi_failures) += 1;
      - logger.log:
          format: "WiFi disconnected! Failure count: %d"
          args: [ 'id(wifi_failures)' ]
      - wifi.disable:
      - delay: 30s
      - wifi.enable:
      - if:
          condition:
            lambda: 'return (id(wifi_failures) > 5) && (id(uptime_monitor).state > 300);'
          then:
            - logger.log: "Too many WiFi failures after 5+ minutes. Rebooting..."
            - switch.toggle: restart_thrillfishing
  # Actions to perform on WiFi connection
  on_connect:
    then:
      - logger.log: "WiFi connected. Resetting failure count."
      - lambda: 'id(wifi_failures) = 0;'
  # Access Point (AP) mode configuration
  ap:
    ssid: "Hacker7"
    password: "Scattergood123"

# Enables captive portal for easy configuration in AP mode
captive_portal:

# I2C bus configurations for sensors
i2c:
  # First I2C bus for Battery Voltage 1
  - id: bus_a
    sda: GPIO21
    scl: GPIO22
    scan: true
  # Second I2C bus for Battery Voltage 2
  - id: bus_b
    sda: GPIO18
    scl: GPIO4
    scan: true

# Configures 1-Wire bus for Dallas temperature sensor
one_wire:
  - platform: gpio
    pin: GPIO19

text_sensor:  
  - platform: wifi_info
    ssid:
      name: "Current WiFi SSID"    
      id: current_wifi_sensor
      update_interval: 30s 

# Sensor configurations
sensor:
  - platform: wifi_signal
    name: "WiFi Signal"
    id: wifi_rssi
    update_interval: 30s

  - platform: uptime
    name: Uptime Sensor
    id: uptime_monitor
    update_interval: 30s

  # Dallas temperature sensor for boat temperature
  - platform: dallas_temp    
    name: "Boat Temperature"
    id: boat_temperature
    update_interval: 30s
    unit_of_measurement: "°F"
    accuracy_decimals: 2
    filters:
      - lambda: return x * 1.8 + 32;  # Converts Celsius to Fahrenheit

  # INA226 sensor for Battery Voltage 1
  - platform: ina226
    i2c_id: bus_a
    shunt_resistance: 0.1 ohm
    update_interval: 30s
    id: ina_sensor
    bus_voltage:
      name: "Battery Voltage"
      id: battery_voltage
      force_update: True

  # INA226 sensor for Battery Voltage 2
  - platform: ina226
    i2c_id: bus_b
    # address: 0x40 
    shunt_resistance: 0.1 ohm
    update_interval: 30s
    id: ina_sensor_2
    bus_voltage:
      name: "Battery Voltage 2"
      id: battery_voltage_2
      force_update: true

  # ADC sensor for raw current voltage
  - platform: adc
    pin: GPIO33
    name: "Battery Current Raw Voltage"
    id: battery_current_raw
    unit_of_measurement: "V"
    update_interval: 30s    
    attenuation: 12db    
    accuracy_decimals: 4

  # Template sensor to calculate battery current
  - platform: template
    name: "Battery Current"
    id: battery_current
    unit_of_measurement: "A"
    update_interval: 30s
    accuracy_decimals: 4
    lambda: |-
      // Converts raw voltage to current using linear calibration
      float raw_voltage = id(battery_current_raw).state;            
      return 42.6923 * (raw_voltage - 2.52);
 
  # Internal ESP temperature sensor
  - platform: internal_temperature
    name: "Boat ESP Temperature"
    id: boat_esp_temp
    update_interval: 30s

interval:
  - interval: 30min
    then:
      - if:
          condition:
            lambda: 'return isnan(id(battery_voltage).state) || isnan(id(battery_voltage_2).state);'
          then:
            - logger.log: "Voltages are NaN for 30 minutes — rebooting..."
            - switch.toggle: restart_thrillfishing

  - interval: 120s
    then:    
      - logger.log: "Interval Trigger Fired!"
      # Sends battery voltage data via HTTP POST
      - http_request.post:          
          url: https://hooks.nabu.casa/INSERT YOUR WEBHOOK
          #headers:
          request_headers:
            Content-Type: application/json      
          json:
            voltage: !lambda |-
              char buffer[10];
              snprintf(buffer, sizeof(buffer), "%.2f", id(battery_voltage).state);
              return std::string(buffer);              
            current: !lambda |-
              char buffer[10];
              snprintf(buffer, sizeof(buffer), "%.2f", id(battery_current).state);
              return std::string(buffer);              
            voltage2: !lambda |-
              char buffer[10];
              snprintf(buffer, sizeof(buffer), "%.2f", id(battery_voltage_2).state);
              return std::string(buffer);              
            temp: !lambda |-
              char buffer[10];
              snprintf(buffer, sizeof(buffer), "%.2f", id(boat_temperature).state);
              return std::string(buffer);
            wifi: !lambda |-
              return id(current_wifi_sensor).state;            
            wifirssi: !lambda |-
              char buffer[10];
              snprintf(buffer, sizeof(buffer), "%.2f", id(wifi_rssi).state);
              return std::string(buffer);
            bilgealarm: !lambda |-
              return id(bilge_high).state ? "ON" : "OFF";               
            esptemp: !lambda |-
              char buffer[10];
              snprintf(buffer, sizeof(buffer), "%.2f", id(boat_esp_temp).state);
              return std::string(buffer);
            token: !lambda |-
              return id(token); 
      
# HTTP request configuration
http_request:  
  useragent: boat_iot  
  timeout: 30s
